.input-container {
    .input-label-container {
        font-family: 'Rajdhani';
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 8px;

    }
    input {
        margin-bottom: 30px;
    }
}