
body {
    font-family: 'Montserrat', 'Roboto', 'Open Sans';
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.smallLogo {
    max-height:64px;
}
.modal-content {
    color: black;
}
.team-data, .card-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hudRow{
    background-color: #ffffff5c;
    margin-top: 10px;
    padding: 15px;
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.hudVersion {
    font-size:12px;
}
.centered i:hover, .hover-pointer:hover{
    cursor: pointer;
}
.veto-box {
    background-color:red;
    height: 50px;
}

.veto-container {
    /*height: 175px;*/
    background-color:rgba(0,0,0,0.05);
    border-radius:20px;
    padding:10px;
    margin-top:10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.veto-container .veto-title {
    font-weight:600;
}
.veto-container .veto-desc {
    height: 80px;
    display: flex;
    width:100%;
    align-items: center;
    flex-direction:column;
    justify-content: center;
}

.veto-container .veto-desc .score-container {
    display: flex;
    flex-direction: row;
    width:100%;
}
.veto-container .veto-desc .score-container > div {
    flex:1;
}
.veto-container .veto-desc .score-container .left-team {
    text-align:right;
}
.veto-container .veto-desc .score-container .score {
    padding:10px;
    font-size: 20pt;
}
.veto-container .veto-desc .score-container .team-name {
    font-size: 18pt;
    text-transform: uppercase;
}
.veto-container .veto-desc .score-container .team-name span img {
    max-height:35px;
}
.veto-container.empty {
    height:80px;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color:white;
}
.veto-container.ban {
    background-color: #f42069;
    color: white;
}
.veto-container.pick {
    background-color: #b4da55;
}
.veto-container .veto-desc span img {
    max-height:20px;
    filter: drop-shadow(-1px 2.5px 2px rgba(0,0,0,0.5)) drop-shadow(1.5px -1.5px 2px rgba(0,0,0,0.5));
    margin-right:5px;
    margin-left:5px;
}


@keyframes logoFade  {
    0%   { opacity: 0; }
    30% { opacity: 1;}
    70% { opacity: 1;}
    100% { opacity: 0; }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #57038d;
    z-index: 1;
    transition: opacity 1.5s 4s, transform 0s 5.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    opacity:1;
    
}

.loading-screen .loading-title {
    padding-left:20px;
    font-size:35pt;
    font-weight: 600;
}
.loading-screen .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    opacity: 0;
}
.loaded .loading-screen .title-container {
    
    animation-name:logoFade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.loaded .loading-screen {
    opacity: 0;
    transform: translate(9999px);
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
}
.main-header h2 {
    padding-left: 20px;
}