@import url('./fonts/montserrat.css');

html, body {
    width:100%;
    height:100%;
}
body {
    font-family: 'Montserrat', 'Roboto', 'Open Sans';
}

#root, .loaded, .main-container, .navbar-container, .main-container > .col {
    height:100%;
}  
.main-container > .col {
    padding: 0;
}
.navbar-container > li {
    width:100%;
    height: calc(calc(100vh - 64px)/5);
    max-height: 135px;
}
.navbar-container > li > a{
    width:100%;
    height: calc(calc(100vh - 64px)/5 - 1px);
    max-height: 134px;
    background-color: #2b2e34; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-bottom: 1px solid #373a40 !important;
}
.navbar-container > li:nth-last-child(2) > a {
    border-bottom: none !important;
}
.navbar-container > li > a.active{
    width:100%;
    height: 100%;
    background-color: #6b1cff !important; 
    color: white !important;
    border:none;
    border-bottom: 1px solid #2b2e34 !important;
}
.navbar-container > li > a:hover{
    border-color: transparent !important;
    border-bottom: 1px solid #373a40 !important;
}
.navbar-container > li:nth-last-child(2) > a:hover{
    border-color: transparent !important;
    border-bottom: none !important;
}

.main-container {
    display:flex;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-title-container {
    width: 100%;
    height: 135px;
    background-color: #202328;
    display: flex;
    align-items: center;
    padding-left: 196px;
    position: fixed;
    font-weight: 100;
    font-size: 32px;
    z-index:1;
    top: 0;
}
.loaded.electron {
    padding-top:64px;
}
.loaded.electron .tab-title-container {
    top:64px;
}
.loaded.electron #settings {
    top:64px;
}
.tab-content-container {
    padding: 53px;
    padding-bottom: 0;
    margin-left: 143px;
    margin-top: 135px;
    position: relative;
    height: calc(100vh - 135px - 71px);
    overflow-y: scroll;
}
.tab-content-container.full-scroll {
    height: calc(100vh - 135px);
}
.loaded.electron .tab-content-container {
    height: calc(100vh - 135px - 71px - 64px);
}
.loaded.electron .tab-content-container.full-scroll {
    height: calc(100vh - 135px - 64px);
}
.tab-content-container.no-padding{
    padding:0;
}
.tab-content-container.no-padding .padded {
    padding-left: 43px;
    padding-right: 43px;
    margin-right: 10px;
    margin-left: 10px;
}
.event-container {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 10px;

}
.event-container .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-container .event-name {
    font-size: 15pt;
}
.event-container .event-date {
    font-size: 11pt;
}
.event-container .event-country {
    display: flex;
    align-items: center;
}
.event-container .event-country img {
    margin-right: 10px;
}
.event-container .data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-left: 15px;
}
#settings {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 157px;
    right: 0;
    height: 135px;
}
#settings a {
    border-bottom: none !important;
    height: 135px;
}

.exec-code {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding-left:15px;
    padding-right:15px;
    font-size: 12px;
    margin-left:auto;
    margin-right: 21px;
}
.navbar-container > li#settings > a.active {
    background-color: #7ad9f5 !important;
    color:#24272d !important;
}
.main-buttons-container {
    position: fixed;
    width: calc(100% - 143px);
    bottom: 0;
    left: 143px;
    padding: 0;
    height:71px;
    display:flex;
}
/*
.no-padding .main-buttons-container {
    left: 158px;
}*/
input.form-control, select.form-control {
    color:#e1e1e2;
    background-color: transparent;
    border: 1px solid #505257;
    border-radius: 10px;
}
select.form-control option {
    color:black;
    border-radius:20px;
}
input.form-control:focus, select.form-control:focus {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid white;
    color:#e1e1e2;
}
.main-buttons-container button {
    flex:1;
    border-radius:0;
    border: none;
    text-transform: uppercase;
    font-weight:700;
}
.main-buttons-container button.btn-secondary {
    background-color: #202328;
}
.main-buttons-container button.btn-primary {
    background: linear-gradient(to bottom right, #78c1f6, #6b1fff);
}
.navbar-container {
    width:143px;
    display: block !important;
    border:none;
    position: fixed;
    z-index: 2;
    background-color: #2b2e34;
}
img.smallLogo {
    max-height:64px;
}
.modal-content {
    color: black;
}
.team-data, .card-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hudRow{
    background-color: #ffffff08;
    padding: 25px;
    border-radius: 18px;
    font-family: Montserrat;
    margin-bottom: 20px;
}
.hudRow .thumb {
    width: 55px;
    flex: unset;
    padding: 0;
}
.hudRow .thumb img {
    max-width: 100%;
}
.hudRow .hudName {
    font-size: 16px;
    font-weight: 500;
}
.hudVersion {
    font-size: 10px;
    font-weight: 500;
}
.hudRow .hudAuthor {
    
    font-size: 12px;
    font-weight: 500;
}
.hudRow img.action {
    margin-left:10px;
    margin-right:10px;
    cursor:pointer;
}
.centered i:hover, .hover-pointer:hover{
    cursor: pointer;
}
.veto-box {
    background-color:red;
    height: 50px;
}
#avatar_view,#logo_view,.image_overview {
    max-height:92px;
    /*border:2px solid rgba(0,0,0,0.5);*/
    margin:auto;
}
.veto-container {
    width: 100%;
    color:white;
    height: 82px;
    background-color:#202328;
    padding:10px;
    padding-left: 58px;
    padding-right: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.veto-container:nth-child(2n) {
    background-color:#2f3238;
}
.veto-container .veto-main {
    display: flex;
    font-size:12px;
    flex-direction:row;
    text-transform: uppercase;
    align-items: center;
    width:100%;
}
.veto-container .veto-title {
    font-weight: 700;
    padding-right:5px;
}
.veto-container .edit-veto:first-of-type {
    margin-left:auto;
    margin-right:16px;
}
.veto-container .edit-veto {
    min-width: 68px;
    height: 29px;
    border-radius: 14px;
    font-size: 10px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
}
.veto-container .veto-desc {
    display: flex;
    width:100%;
    align-items: center;
    flex-direction:column;
    justify-content: center;
}

.veto-container .veto-desc .score-container {
    display: flex;
    flex-direction: row;
    width:100%;
}
.veto-container .veto-desc .score-container > div {
    flex:1;
}
.veto-container .veto-desc .score-container .left-team {
    text-align:right;
}
.veto-container .veto-desc .score-container .score {
    padding:10px;
    font-size: 20pt;
}
.veto-container .veto-desc .score-container .team-name {
    font-size: 18pt;
    text-transform: uppercase;
}
.veto-container .veto-desc .score-container .team-name span img {
    max-height:35px;
}
.veto-container.empty {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color:white;
}
/*
.veto-container.ban {
    border: 2px solid #f42069;
    color: white;
    background-color:rgba(0,0,0,0.1);
}
.veto-container.pick {
    border: 2px solid #b4da55;
    color: white;
    background-color:rgba(0,0,0,0.1);
}*/
.veto-container .veto-desc span img {
    max-height:20px;
    filter: drop-shadow(-1px 2.5px 2px rgba(0,0,0,0.3)) drop-shadow(1.5px -1.5px 2px rgba(0,0,0,0.3));
    margin-right:5px;
    margin-left:5px;
}


@keyframes logoFade  {
    0%   { opacity: 0; }
    30% { opacity: 1;}
    70% { opacity: 1;}
    100% { opacity: 0; }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #57038d;
    z-index: 1;
    transition: opacity 1.5s 4s, transform 0s 5.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    opacity:1;
    
}

.loading-screen .loading-title {
    padding-left:20px;
    font-size:35pt;
    font-weight: 600;
}
.loading-screen .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    opacity: 0;
}
.loaded .loading-screen .title-container {
    
    animation-name:logoFade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.loaded .loading-screen {
    opacity: 0;
    transform: translate(9999px);
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
}
.main-header h2 {
    padding-left: 20px;
}

.config-container {
    margin:0;
}
.config-entry {
    padding:0;
    background-color: #2f3238;
    height: 82px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left:57px;
    padding-right: 65px;
    font-size:12px;
}
.config-entry:nth-child(2n) {
    background-color:#202328;
}
.config-entry .config-description {
    text-transform: uppercase;
    font-weight: 600;
}
.image-view {
    height:94px;
    margin-top:10px;
    margin-bottom:10px;
}
.config-entry .running-csgo-container {
    
    display: flex;
    flex: 1;
    flex-direction: column;
}
#match_form .row {
    margin-left: 0;
    margin-right: 0;
}
#match_form > .row:first-child {
    padding-left:58px;
    padding-right:58px;
}
#match_form > .row:first-child > div {
    padding-left: 0;
    padding-right:0;
}
.config-entry .running-csgo-container .warning{
    position: absolute;
    align-self: center;
    bottom:4px;
    font-size:10pt;
}
.config-entry .running-csgo-container > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;

}
.base-config {
    height: 141px;
}
.base-config .form-group {
    margin-bottom:0;
}
.base-config > div {
    align-items: center;
    display: flex;
}
.round-btn {
    box-shadow: none !important;
    border: none;
    height: 29px;
    border-radius: 50px;
    font-size: 8pt;
    text-transform: uppercase;
    padding-bottom: 3pt;
    padding-left: 15pt;
    padding-right: 15pt;
    font-weight:600;
}

.btn.purple-btn {
    background-color: #6b1cff;
}
.btn.run-csgo {
    background-color: #7ad9f5;
    color: #24272d;
    font-weight: 700;
    margin-left:25px;
}
.btn.lightblue-btn {
    background-color: #7ad9f5 !important;
    color: #24272d;
}
#teams, select, #team_name, #short_name, #country, #players, #first_name, #nick, #last_name, #steamid, #matchType, #type, #side, input[type="text"], input[type="number"] {
    font-size:12px;
    height:44px;
}
.config-container.no-margin{
    margin-left:0;
    margin-right:0;
}
.fixed-toast {
    position: fixed;
    left:20px;
    top:20px;
}
.fixed-toast .toast-body {
    color:black;
}
.credits_name {
    font-size: 18px;
    font-weight: 300;
}
.credits_segment {
    margin-bottom: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.credits_title {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}
.scoreboard_container {
    display: flex;
    flex-direction: column;
}
.scoreboard_container .scoreboard_player {
    flex:1;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    height:40px;
    padding:10px;
    border-bottom:1px solid rgba(255,255,255,0.3);
}
.scoreboard_container .scoreboard_player .name, .scoreboard_container .scoreboard_player .steamid  {
    display: flex;
    align-items: center;
}
.scoreboard_container .scoreboard_player .name i{
    font-size:11pt;
    font-weight: 900;
    margin-bottom:2px;
}
.scoreboard_container.left .scoreboard_player .name i {
    margin-left: auto;}
.scoreboard_container.right .scoreboard_player .name i {
    
    margin-right: auto;
}
.scoreboard_score.right {
    flex-direction: row-reverse;
}
.scoreboard_score .score {
    text-align: center;
}
.scoreboard_score {
    height: 50px;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}
.scoreboard_score .score {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.scoreboard_score .team_name {

    text-transform: uppercase;
    letter-spacing: 1.25px;
}
.scoreboard_score.right .team_name {
    flex-direction: row-reverse;
    text-align: right;
}
.scoreboard_score.CT {
    color: lightskyblue;
}
.scoreboard_score.T {
    color: orange;
}
.scoreboard_container .scoreboard_player .name i.saved{
    color: green;
}
.scoreboard_container.right .scoreboard_player .name, .scoreboard_container.right .scoreboard_player .steamid {
    display: flex;
    flex-direction:row-reverse;
}
.scoreboard_container .scoreboard_player .steamid {
    font-size:10pt;
    color:grey;
}


/* MATCHES */
.match_row {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 219px;
    background-color: #ffffff0d;
    position: relative;
    justify-content: center;
}
.match_row.editing {
    background-color: #24272d;
}
.match_row:nth-child(2n) {
    background-color: transparent;
}
.match_row .main_data {
    display: flex;
    flex-direction: row;
    font-size:20pt;
    align-items: center;
    justify-content: center;
    margin-bottom:35px;
}
.match_row .main_data .team {
    display: flex;
    width:261px;
    flex-direction: column;
}
.match_row .main_data .team .score {
    font-size: 50px;
    font-weight:100;
}
.match_row .main_data .team .name {

    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.match_row .main_data .team .score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.match_row .main_data .team .name {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.match_row .main_data .team .name .edit-team-button {
    position: relative;
    right:-5px;
    padding:5px;
    cursor: pointer;
}
.match_row .main_data .team .score img {
    position: absolute;
    max-height: 40px;
}
.match_row .main_data .left.team .score img {
    align-self: flex-start;
}
.match_row .main_data .right.team .score img {
    align-self: flex-end;
}
.match_row .main_data .versus {
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./slash.png') no-repeat;
    text-align: center;
    font-size: 15px;
    height: 46px;   
    font-weight:700;
}   
.match_row .options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.match_row .options .btn {
    margin-left: 4px;
    margin-right: 4px;
}
.match_row .second-options .btn {
    margin-left:10px;
    margin-right:10px;
    font-size: 14px;
    padding: .275rem .75rem;
}
a.nav-link.active:not([href]):not([tabindex]):focus, a.nav-link.active:not([href]):not([tabindex]):hover {
    color: #57038d;
}
form .card > .card-body {
    display: flex;
    flex-direction: column;
}
form .card > .card-body > button.btn {
    align-self: center;
}
.matches_container{
    margin:0;
    margin-bottom:71px;
}
#add_match_button {
    margin: 10px auto;
}
.go-back-button {
    padding:20px;
    cursor:pointer;
}
.drag-file-img-preview {
    position: absolute;
    max-height: 50%;
    right: 7%;
}
.live-indicator {
    background-image: url('./live.png');
    font-size: 8px;
    font-weight: 600;
    text-transform: uppercase;
    background-position: left center;
    background-repeat: no-repeat;
    position: absolute;
    left: 27px;
    top: 25px;
    padding-left: 24px;
    background-size: 17px 13px;
    height: 13px;
    display: flex;
    align-items: center;
}
.match_row:not(.live) .live-indicator{
    display:none;
}
.dropArea {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px dashed #ffffff;
    height:94px;
    opacity: 0.6;
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
}
.dropArea .background {
    display: none;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: #ffffff26;
    border-radius: 10px;
    z-index: -1;
}
.dropArea.hightlight .background, .dropArea:hover .background {
    display: block;
}
.dropArea.path_selector {
    height: 37px;
    width: 200px
}
.dropArea label {
    flex:1;
    font-size: 10px;
    font-weight: 600;
    margin-bottom:0;
    height: 100%;
}
.dropArea label img {
    margin-right:22px;
}
.dropArea label:hover{
    cursor: pointer;
}
.dropArea.hightlight,.dropArea:hover {
    opacity:1;
    cursor: pointer;
}
.dropArea input[type="file"]{
    display:none;
}
.text-muted {
    color: white !important;
}
.nav-tabs .nav-link {
    user-select: none;
    border-radius: 0 !important;
    
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
}
.nav-tabs .nav-link div {
    margin-top: 17px;
}
.radar_support, .killfeed_support {
    z-index:0;
    position:relative;
}
.radar_support:hover, .killfeed_support:hover {
    cursor: pointer;
}
.radar_support i, .killfeed_support i {
    z-index: -1;
    position: relative;
    top: 5px;
}
.custom_form {
    padding: 20px;
    padding-top: 0px;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
}
.action_containers {
    display: flex;
    justify-content: space-evenly;
}
.custom_form .section_name {
    padding-bottom:20px
}
.section-save {
    margin-top: 15px;
}
.veto_modal {
    max-width: 100%;
    width: 585px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.veto_modal label.form-check-label {
    color: white;
    font-size: 12px;
    font-weight: 300;
}
.veto_modal .modal-content {
    border-radius: 0;
    background-color: #202328;
    box-shadow: 0 0 121px 4px rgba(0, 8, 6, 0.5);
}
.veto_modal .modal-header {
    border-bottom: none;
    padding-top: 50px;
}
.veto_modal .modal-footer {
    border-top: none;
}
.veto_modal .modal-header h5.modal-title {
    color: white;
    font-weight:200;
    font-size: 32px;
    margin:auto;
}
.veto_modal .modal-header button.close {
    display: none;
}
.veto_modal .modal-body {
    padding: 31px;
}
.veto_modal .form-group {
    margin-bottom:26px;
}
.modal-backdrop.show {
    opacity: 0.82;
}
.modal-backdrop {
    background-color: #6b1cff;
}
.veto_modal .veto_type {
    display:flex;
}
.veto_modal .veto_type .type {
    flex:1;
    text-align:center;
    font-size: 12px;
    font-weight: 700;
    color: grey;
    border-bottom: 2px solid #ffffff66;
    padding-bottom:17px;
    cursor:pointer;
}
.veto_modal .veto_type .type.active {
    color: white;
    
    border-bottom: 2px solid #7ad9f5;
}
.veto_modal .form-check {
    padding: 0;
}
.veto_modal .form-check-input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}
.veto_modal .form-check-label {
    display: flex;
    align-items: center;
}
.customCheckbox {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    opacity: 0.2;
    margin-right:10px;
    cursor: pointer;
}

input:checked ~ .customCheckbox {
    background-color: grey;
    opacity: 0.5;
}
.modal-open .modal {
    
    overflow-y: hidden;
}

.veto_modal .modal-footer.no-padding {
    padding: 0;
}
.veto_modal .modal-save {
    background-color: #7ad9f5;
    border-radius: 0;
    border: none;
    width:100%;
    height: 71px;
    color: #202328;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.window-app {
    width: 100%;
}
.window-bar  {
    width:100%;
    height:64px;
    position: fixed;
    top: 0;
    z-index: 2;
    display:flex;
    background: url("./app_bar.png"), linear-gradient(to right, #79d1f5, #6c28fe);
    background-repeat: no-repeat;
    background-position: left center;
}

.loaded:not(.electron) .window-bar {
    display: none;    
}
.window-bar .app-control {
    width:64px;
    height:64px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 12px;
    opacity: 0.5;
    font-weight: bold;
    color:rgba(255, 255, 255, 1);
    cursor: default;
    text-shadow: none;
    user-select: none;
}
.window-bar .app-control:hover {
    opacity: 0.95;
}

.window-bar .window-drag-bar{
    flex:1;
    -webkit-app-region: drag;
}
.veto_modal .modal-save:hover {
    background-color: #4a7f8f !important;
}
.download-container .btn {
    margin-left: 5px;
}
.bottom-margin {
    margin-bottom:70px;
}
.no-margin-row {
    margin-left:0 !important;
    margin-right:0 !important;
}
.no-padding-col {
    padding-left:0 !important;
    padding-right:0 !important;
}