.arg {
    .config-description {

    }
    .form-control {
        width: unset;
    }
}

.checkbox-el {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(255,255,255,0.2);
    margin-right: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    background-color: #0C0B0B;
    align-items: center;
    justify-content: center;
    &.active {
        background-color: #6f13ff;
    }
}
.arg-setting-entry-container {
    height: 56px;
    display: flex;
    align-items: center;
    margin-bottom:14px;
    &:first-child {
        margin-top: 14px;
    }

    .checkbox {
        width: 24px;
        height: 24px;
        border: 1px solid rgba(255,255,255,0.2);
        margin-right: 15px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        background-color: #0C0B0B;
        align-items: center;
        justify-content: center;
        &.active {
            background-color: #6f13ff;
        }
    }
    .arg-setting-entry {
        flex: 1;
        display: flex;
        cursor: pointer;
        text-transform: uppercase;
        padding: 0 27px;
        height: 100%;
        font-size: 12px;
        font-weight: 700;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-position: center right 40px;
        background-repeat: no-repeat;
        background-image: url('./hand.png');
    }
}
.arg-config-entry {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 57px;
    padding-right: 65px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Rajdhani';
    font-weight: 600;
    font-size: 14px;
    &:first-child {
        min-width: 230px;
    }

    .config-description {
        margin-right: 14px;
    }
    input {
        margin-bottom: 0 !important;
    }
}
.arg-options {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    &.no-border {
        > .arg-config-entry:first-child {
            flex-direction: column;
            border-right: 1px solid rgba(255, 255, 255, 0);

            .arg-config-entry {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 0px;
                padding-right: 0px;
            }
        }
        > .arg-config-entry:nth-child(n+2) {
            flex-direction: column;
            align-items: flex-start;

            .config-description {
                margin-bottom: 14px;
            }
        
    }
    }
    &:not(.no-border) {
        .arg-config-entry {
            &:first-child {
                border-right: 1px solid rgba(255, 255, 255, 0.1);
            }
            
            &:nth-child(n+2){
                flex-direction: column;
                align-items: flex-start;
    
                .config-description {
                    margin-bottom: 14px;
                }
            }
        }
    }
}
.arg-title {
    span {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        margin-left: 100px;
        &.disconnected {
            div {
                background-color: red;
            }
        }
        &.connected {
            div {
                
                background-color: #17b21b;
            }
        }
        div {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            margin-right:7px;
        }
    }
}